[submodule "submodule-git-actions-2"]
	path = submodule-git-actions-2
	url = https://github.com/ant-man21/submodule-git-actions-2.git
[submodule "submodule-git-actions-1"]
	path = submodule-git-actions-1
	url = https://github.com/ant-man21/submodule.git
